In [1]:
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
spark = SparkSession.builder\
                    .master("local")\
                    .appName("SparkifyMusic")\
                    .getOrCreate()

In [3]:
spark

In [4]:
spark.sparkContext.getConf().getAll()

[('spark.master', 'local'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.name', 'SparkifyMusic'),
 ('spark.app.id', 'local-1561176073104'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', '192.168.1.10'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.port', '39495')]

In [5]:
path = "./data/log-data/2018-11-01-events.json"

In [6]:
user_log = spark.read.json(path)

In [7]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [8]:
user_log.show(1)

+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----+-----------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession|lastName|length|level|            location|method|page|     registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----+-----------------+---------+----+------+-------------+--------------------+------+
|  null|Logged In|   Walter|     M|            0|    Frye|  null| free|San Francisco-Oak...|   GET|Home|1.540919166796E12|       38|null|   200|1541105830796|"Mozilla/5.0 (Mac...|    39|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----+-----------------+---------+----+------+-------------+--------------------+------+
only showing top 1 row

In [9]:
user_log.take(5)

[Row(artist=None, auth='Logged In', firstName='Walter', gender='M', itemInSession=0, lastName='Frye', length=None, level='free', location='San Francisco-Oakland-Hayward, CA', method='GET', page='Home', registration=1540919166796.0, sessionId=38, song=None, status=200, ts=1541105830796, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='39'),
 Row(artist=None, auth='Logged In', firstName='Kaylee', gender='F', itemInSession=0, lastName='Summers', length=None, level='free', location='Phoenix-Mesa-Scottsdale, AZ', method='GET', page='Home', registration=1540344794796.0, sessionId=139, song=None, status=200, ts=1541106106796, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', userId='8'),
 Row(artist="Des'ree", auth='Logged In', firstName='Kaylee', gender='F', itemInSession=1, lastName='Summers', length=246.30812, level='free', location='Phoenix-Mesa-Scottsdale, AZ', method='PUT', page='NextSong', registration=1540344794796.0, sessionId=139, song='You Gotta Be', status=200, ts=1541106106796, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', userId='8'),
 Row(artist=None, auth='Logged In', firstName='Kaylee', gender='F', itemInSession=2, lastName='Summers', length=None, level='free', location='Phoenix-Mesa-Scottsdale, AZ', method='GET', page='Upgrade', registration=1540344794796.0, sessionId=139, song=None, status=200, ts=1541106132796, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', userId='8'),
 Row(artist='Mr Oizo', auth='Logged In', firstName='Kaylee', gender='F', itemInSession=3, lastName='Summers', length=144.03873, level='free', location='Phoenix-Mesa-Scottsdale, AZ', method='PUT', page='NextSong', registration=1540344794796.0, sessionId=139, song='Flat 55', status=200, ts=1541106352796, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', userId='8')]

In [10]:
out_path = "./user_log.csv"
user_log.write.save(out_path, format='csv', header = True)

AnalysisException: 'path file:/home/vanducng/git/NanoDegree-Project04/user_log.csv already exists.;'

In [11]:
user_log2 = spark.read.csv(out_path, header = True)

In [12]:
user_log2.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: string (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: string (nullable = true)
 |-- sessionId: string (nullable = true)
 |-- song: string (nullable = true)
 |-- status: string (nullable = true)
 |-- ts: string (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [13]:
user_log2.take(2)

[Row(artist=None, auth='Logged In', firstName='Walter', gender='M', itemInSession='0', lastName='Frye', length=None, level='free', location='San Francisco-Oakland-Hayward, CA', method='GET', page='Home', registration='1.540919166796E12', sessionId='38', song=None, status='200', ts='1541105830796', userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='39'),
 Row(artist=None, auth='Logged In', firstName='Kaylee', gender='F', itemInSession='0', lastName='Summers', length=None, level='free', location='Phoenix-Mesa-Scottsdale, AZ', method='GET', page='Home', registration='1.540344794796E12', sessionId='139', song=None, status='200', ts='1541106106796', userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', userId='8')]

In [15]:
user_log.describe("artist").show()

+-------+---------------+
|summary|         artist|
+-------+---------------+
|  count|             11|
|   mean|           null|
| stddev|           null|
|    min|Black Eyed Peas|
|    max| The Mars Volta|
+-------+---------------+

In [16]:
user_log.describe("sessionId").show()

+-------+------------------+
|summary|         sessionId|
+-------+------------------+
|  count|                15|
|   mean|             127.0|
| stddev|45.639894828976104|
|    min|                 9|
|    max|               169|
+-------+------------------+

In [17]:
user_log.count()

15

In [19]:
user_log.select("page").dropDuplicates().sort("page").show()

+--------+
|    page|
+--------+
|    Home|
|NextSong|
| Upgrade|
+--------+

In [28]:
get_hour = udf(lambda x: datetime.datetime.fromtimestamp(x/1000.0).hour)

In [29]:
user_log = user_log.withColumn("hour", get_hour(user_log.ts))

In [32]:
songs_in_hour = user_log.filter(user_log.page == "NextSong").groupby(user_log.hour).count().orderBy(user_log.hour.cast("float"))

## Process Song Data

In [60]:
import pandas as pd
from pyspark.sql.types import *

In [102]:
song_data = "./data/song-data/song_data/*/*/*/*.json"
# song_data = "./data/song-data/song_data/A/A/A/TRAAAAW128F429D538.json"
df = spark.read.json(song_data)

In [103]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [104]:
df.toPandas()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARDR4AC1187FB371A1,NaN,,NaN,Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti,511.16363,1,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,0
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran),173.66159,1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),0
2,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,2004
3,ARPBNLO1187FB3D52F,40.71455,"New York, NY",-74.00712,Tiny Tim,43.36281,1,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert Hall],2000
4,ARNF6401187FB57032,40.79086,"New York, NY [Manhattan]",-73.96644,Sophie B. Hawkins,305.16200,1,SONWXQJ12A8C134D94,The Ballad Of Sleeping Beauty,1994
5,ARDNS031187B9924F0,32.67828,Georgia,-83.22295,Tim Wilson,186.48771,1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco Hell),2005
6,ARLTWXK1187FB5A3F8,32.74863,"Fort Worth, TX",-97.32925,King Curtis,326.00771,1,SODREIN12A58A7F2E5,A Whiter Shade Of Pale (Live @ Fillmore West),0
7,ARPFHN61187FB575F6,41.88415,"Chicago, IL",-87.63241,Lupe Fiasco,279.97995,1,SOWQTQZ12A58A7B63E,Streets On Fire (Explicit Album Version),0
8,ARI2JSK1187FB496EF,51.50632,"London, England",-0.12714,Nick Ingman;Gavyn Wright,111.62077,1,SODUJBS12A8C132150,Wessex Loses a Bride,0
9,AR9AWNF1187B9AB0B4,NaN,"Seattle, Washington USA",NaN,Kenny G featuring Daryl Hall,236.93016,1,SOZHPGD12A8C1394FE,Baby Come To Me,0
10,AROUOZZ1187B9ABE51,40.79195,"New York, NY [Spanish Harlem]",-73.94512,Willie Bobo,168.25424,1,SOBZBAZ12A6D4F8742,Spanish Grease,1997
11,AR0RCMP1187FB3F427,30.08615,"Beaumont, TX",-94.10158,Billie Jo Spears,133.32853,1,SOGXHEG12AB018653E,It Makes No Difference Now,1992
12,AR47JEX1187B995D81,37.83721,"Nevada, MO",-94.35868,SUE THOMPSON,124.86485,1,SOBLGCN12AB0183212,James (Hold The Ladder Steady),1985
13,ARKFYS91187B98E58F,NaN,,NaN,Jeff And Sheri Easter,267.70240,1,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),0
14,ARB29H41187B98F0EF,41.88415,Chicago,-87.63241,Terry Callier,342.56934,1,SOGNCJP12A58A80271,Do You Finally Need A Friend,1972
15,AR10USD1187B99F3F1,NaN,"Burlington, Ontario, Canada",NaN,Tweeterfriendly Music,189.57016,1,SOHKNRJ12A6701D1F8,Drop of Rain,0
16,ARQGYP71187FB44566,34.31109,"Mineola, AR",-94.02978,Jimmy Wakely,151.84934,1,SOWTBJW12AC468AC6E,Broken-Down Merry-Go-Round,0
17,AR36F9J1187FB406F1,56.27609,Denmark,9.51695,Bombay Rockers,230.71302,1,SOBKWDJ12A8C13B2F3,Wild Rose (Back 2 Basics Mix),0
18,ARBEBBY1187B9B43DB,NaN,"Gainesville, FL",NaN,Tom Petty,236.17261,1,SOFFKZS12AB017F194,A Higher Place (Album Version),1994
19,ARMBR4Y1187B9990EB,37.77916,California - SF,-122.42005,David Martin,241.47546,1,SOTTDKS12AB018D69B,It Wont Be Christmas,0
20,ARIK43K1187B9AE54C,NaN,"Beverly Hills, CA",NaN,Lionel Richie,307.38240,1,SOBONFF12A6D4F84D8,Tonight Will Be Alright,1986
21,ARGCY1Y1187B9A4FA5,36.16778,"Nashville, TN.",-86.77836,Gloriana,153.33832,1,SOQOTLQ12AB01868D0,Clementina Santafè,0
22,AR3JMC51187B9AE49D,28.53823,"Orlando, FL",-81.37739,Backstreet Boys,236.25098,1,SOPVXLX12A8C1402D5,Larger Than Life,1999
23,ARQ9BO41187FB5CF1F,40.99471,Pennsylvania,-77.60454,John Davis,183.17016,1,SOMVWWT12A58A7AE05,Knocked Out Of The Park,0
24,ARD842G1187B997376,43.64856,"Toronto, Ontario, Canada",-79.38533,Blue Rodeo,491.12771,1,SOHUOAP12A8AE488E9,Floating,1987
25,ARBGXIG122988F409D,37.77916,California - SF,-122.42005,Steel Rain,173.19138,1,SOOJPRH12A8C141995,Loaded Like A Gun,0
26,ARNNKDK1187B98BBD5,45.80726,Zagreb Croatia,15.96760,Jinx,407.37914,1,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),0
27,ARH4Z031187B9A71F2,40.73197,"Newark, NJ",-74.17418,Faye Adams,156.39465,1,SOVYKGO12AB0187199,Crazy Mixed Up World,1961
28,ARAJPHH1187FB5566A,40.70380,"Queens, NY",-73.83168,The Shangri-Las,164.80608,1,SOYTPEP12AB0180E7B,Twist and Shout,1964
29,ARGSJW91187B9B1D6B,35.21962,North Carolina,-80.01955,JennyAnyKind,218.77506,1,SOQHXMF12AB0182363,Young Boy Blues,0
...,...,...,...,...,...,...,...,...,...,...
41,ARI3BMM1187FB4255E,38.89910,Washington,-77.02900,Alice Stuart,220.78649,1,SOBEBDG12A58A76D60,Kassie Jones,0
42,AR0IAWL1187B9A96D0,8.41770,Panama,-80.11278,Danilo Perez,197.19791,1,SONSKXP12A8C13A2C9,Native Soul,2003
43,AREVWGE1187B9B890A,-13.44200,Noci (BA),-41.99520,Bitter End,282.43546,1,SOFCHDR12AB01866EF,Living Hell,0
44,ARWB3G61187FB49404,NaN,"Hamilton, Ohio",NaN,Steve Morse,363.85914,1,SODAUVL12A8C13D184,Prognosis,2000
45,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0
46,AR5KOSW1187FB35FF4,49.80388,Dubai UAE,15.47491,Elena,269.58322,1,SOZCTXZ12AB0182364,Setanta matins,0
47,ARNTLGG11E2835DDB9,NaN,,NaN,Clp,266.39628,1,SOUDSGM12AC9618304,Insatiable (Instrumental Version),0
48,ARGIWFO1187B9B55B7,NaN,,NaN,Five Bolt Main,225.09669,1,SOPSWQW12A6D4F8781,Made Like This (Live),0
49,AR1ZHYZ1187FB3C717,NaN,,NaN,Faiz Ali Faiz,599.24853,1,SOILPQQ12AB017E82A,Sohna Nee Sohna Data,0
50,ARD0S291187B9B7BF5,NaN,Ohio,NaN,Rated R,114.78159,1,SOMJBYD12A6D4F8557,Keepin It Real (Skit),0
51,ARULZCI1241B9C8611,NaN,,NaN,Luna Orbit Project,335.51628,1,SOSWKAV12AB018FC91,Midnight Star,0
52,ARKULSX1187FB45F84,39.49974,Utah,-111.54732,Trafik,424.12363,1,SOQVMXR12A81C21483,Salt In NYC,0
53,ARKRRTF1187B9984DA,NaN,,NaN,Sonora Santanera,177.47546,1,SOXVLOJ12AB0189215,Amor De Cabaret,0
54,ARJIE2Y1187B994AB7,NaN,,NaN,Line Renaud,152.92036,1,SOUPIRU12A6D4FA1E1,Der Kleine Dompfaff,0
55,ARVBRGZ1187FB4675A,NaN,,NaN,Gwen Stefani,290.55955,1,SORRZGD12A6310DBC3,Harajuku Girls,2004
56,AR7SMBG1187B9B9066,NaN,,NaN,Los Manolos,218.38322,1,SOBCOSW12A8C13D398,Rumba De Barcelona,0
57,AR8ZCNI1187B9A069B,NaN,,NaN,Planet P Project,269.81832,1,SOIAZJW12AB01853F1,Pink World,1984
58,AR8IEZO1187B99055E,NaN,,NaN,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008
59,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,259.44771,1,SOQLGFP12A58A7800E,OAKtown,0
60,AR051KA1187B98B2FF,NaN,,NaN,Wilks,261.51138,1,SOLYIBD12A8C135045,Music is what we love,0
61,AR62SOJ1187FB47BB5,NaN,,NaN,Chase & Status,337.68444,1,SOGVQGJ12AB017F169,Ten Tonne,2005
62,AROGWRA122988FEE45,NaN,,NaN,Christos Dantis,243.82649,1,SOSLAVG12A8C13397F,Den Pai Alo,0
63,ARYKCQI1187FB3B18F,NaN,,NaN,Tesla,290.29832,1,SOXLBJT12A8C140925,Caught In A Dream,2004
64,ARNPAGP1241B9C7FD4,NaN,,NaN,lextrical,165.69424,1,SOZVMJI12AB01808AF,Synthetic Dream,0
65,ARHHO3O1187B989413,NaN,,NaN,Bob Azzam,191.84281,1,SORAMLE12AB017C8B0,Auguri Cha Cha,0
66,AR7ZKHQ1187B98DD73,NaN,,NaN,Glad,270.60200,1,SOTUKVB12AB0181477,Blessed Assurance,1993
67,ARNTLGG11E2835DDB9,NaN,,NaN,Clp,338.31138,1,SOZQDIU12A58A7BCF6,Superconfidential,0
68,ARXR32B1187FB57099,NaN,,NaN,Gob,209.60608,1,SOFSOCN12A8C143F5D,Face the Ashes,2007
69,ARL7K851187B99ACD2,NaN,,NaN,Andy Andy,226.35057,1,SOMUYGI12AB0188633,La Culpa,0
70,AR558FS1187FB45658,NaN,,NaN,40 Grit,75.67628,1,SOGDBUF12A8C140FAA,Intro,2003

In [115]:
songs_schema = StructType([
    StructField("artist_id", StringType(), False),
    StructField("artist_latitude", DoubleType(), True),
    StructField("artist_location", StringType(), True),
    StructField("artist_longitude", DoubleType(), True),
    StructField("artist_name", StringType(), True),
    StructField("duration", DoubleType(), True),
    StructField("num_songs", LongType(), True),
    StructField("song_id", StringType(), False),
    StructField("title", StringType(), True),
    StructField("year", IntegerType(), True)
])

In [116]:
pd.set_option("max_colWidth", 1500)

In [123]:
df = spark.read.json(song_data,
                    schema=songs_schema,
                    mode="DROPMALFORMED")

In [124]:
df.limit(3).toPandas()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARDR4AC1187FB371A1,NaN,,NaN,Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti,511.16363,1,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,0
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran),173.66159,1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),0
2,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,2004

In [125]:
df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = true)

In [126]:
df.createOrReplaceTempView("songs")

In [127]:
songs_table = spark.sql("""
                            SELECT song_id, 
                            title,
                            artist_id,
                            year,
                            duration
                            FROM songs
                        """)

In [129]:
songs_table.show(4)

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOBAYLL12A8C138AF9|Sono andati? Fing...|ARDR4AC1187FB371A1|   0|511.16363|
|SOOLYAZ12A6701F4A6|Laws Patrolling (...|AREBBGV1187FB523D2|   0|173.66159|
|SOBBUGU12A8C13E95D|Setting Fire to S...|ARMAC4T1187FB3FA4C|2004|207.77751|
|SOAOIBZ12AB01815BE|I Hold Your Hand ...|ARPBNLO1187FB3D52F|2000| 43.36281|
+------------------+--------------------+------------------+----+---------+
only showing top 4 rows

In [130]:
songs_table.write.mode("overwrite").partitionBy("year", "artist_id").parquet("./output_data/songs_table")

In [132]:
artists_table = spark.sql("""
                            SELECT DISTINCT artist_id,
                            artist_name name,
                            artist_location location,
                            artist_latitude latitude,
                            artist_longitude longitude
                            FROM songs
                        """)
artists_table.show(5)

+------------------+------------+---------------+--------+----------+
|         artist_id|        name|       location|latitude| longitude|
+------------------+------------+---------------+--------+----------+
|ARPBNLO1187FB3D52F|    Tiny Tim|   New York, NY|40.71455| -74.00712|
|ARBEBBY1187B9B43DB|   Tom Petty|Gainesville, FL|    null|      null|
|AR0IAWL1187B9A96D0|Danilo Perez|         Panama|  8.4177| -80.11278|
|ARMBR4Y1187B9990EB|David Martin|California - SF|37.77916|-122.42005|
|ARD0S291187B9B7BF5|     Rated R|           Ohio|    null|      null|
+------------------+------------+---------------+--------+----------+
only showing top 5 rows